body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/072/791/original/background-sky.jpg?1679336788);
  background-size: 100%;
  font-family: "IBM Plex Mono", monospace;
  color: #3d4377;
  font-weight: bolder;
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
}

#weather-app {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background: rgb(255, 255, 255, 0.4);
  border: 1px solid rgb(255, 255, 255, 0.4);
  border-radius: 8px;
}

#search-form {
  margin: 5px auto;
  max-width: 97%;
}

#search-form .city-input {
  width: 45%;
  margin-left: 10px;
}

#search-form .submit-search {
  margin-left: 5px;
  width: 25%;
}

#search-form .location-button {
  width: 25%;
  margin-left: 5px;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  padding: 3px;
  transition: all 100ms ease-in-out;
}

.location-button:hover {
  cursor: pointer;
  background: #e5e5e5;
}

.main-city {
  margin: 30px 10px 5px 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 23px;
  font-weight: bolder;
}

.date {
  font-size: 15px;
  padding: 5px 0px;
}

.degrees {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  margin: 5px 0px;
}

.link {
  text-decoration: none;
  color: #549ecd;
}

.active {
  color: #3d4377;
  text-decoration: none;
  cursor: default;
}

#celsius {
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  position: relative;
  top: -15px;
}

#inbetween {
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  position: relative;
  top: -15px;
}

#farenheit-link {
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  position: relative;
  top: -15px;
}

.highest-lowest {
  font-size: 20px;
}

#main-image {
  width: 150px;
  margin: 10px 0 10px 40px;
}

#weather-description {
  display: block;
  margin: 10px auto;
  font-size: 12px;
  text-align: center;
}

.additional-info {
  display: block;
  margin: 30px auto;
  padding-left: 40px;
  height: 100px;
}

.additional-info td {
  background: rgb(227, 184, 191, 0.3);
  color: #3d4377;
  margin: 10px;
  padding: 15px;
  font-size: 15px;
  width: 200px;
}

#forecast-element {
  margin: 20px 8px;
  text-align: center;
  background: rgb(227, 184, 191, 0.3);
  border: 1px solid rgb(255, 255, 255, 0.4);
  border-radius: 8px;
  width: 15%;
  height: 185px;
}

.forecast-day {
  font-size: 15px;
  margin: 10px 10px 5px 10px;
}

#forecast-image {
  width: 100px;
  margin: 0;
}

.forecast-temps {
  margin: 10px;
  font-size: 15px;
}
.coder {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}

.forecast-min {
  opacity: 50%;
}
